body{
    font: 12pt Arial; 
    background-color: pink;
}

button{
    border-radius: 20px;
    border-color: blueviolet;
    background-color: rgb(208, 168, 245);;
}

button:hover{
 background-color: rgb(101, 40, 159);
 color: white;
}